@media only screen and (max-width: 800px) {
    body {
        background-color: lightblue;
    }
    #canvasID {
        display:none;
    }
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/Lucida-Grande/Lucida Grande.eot');
  src: url('../fonts/Lucida-Grande/Lucida Grande.woff2') format('woff2'),
       url('../fonts/Lucida-Grande/Lucida Grande.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaGrande';
  src: url('../fonts/Lucida-Grande/LucidaGrande.woff') format('woff'),
       url('../fonts/Lucida-Grande/LucidaGrande.ttf') format('truetype'),
       url('../fonts/Lucida-Grande/LucidaGrande.svg#LucidaGrande') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaGrande-Bold';
  src: url('../fonts/Lucida-Grande-Bold/LucidaGrande-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Lucida-Grande-Bold/LucidaGrande-Bold.woff') format('woff'), 
       url('../fonts/Lucida-Grande-Bold/LucidaGrande-Bold.ttf')  format('truetype'), 
       url('../fonts/Lucida-Grande-Bold/LucidaGrande-Bold.svg#LucidaGrande-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheSansMono-Plain';
  src: url('../fonts/Sans-Mono/TheSansMono-Plain.eot?#iefix') format('embedded-opentype'),  url('../fonts/Sans-Mono/TheSansMono-Plain.otf')  format('opentype'),
         url('../fonts/Sans-Mono/TheSansMono-Plain.woff') format('woff'), url('../fonts/Sans-Mono/TheSansMono-Plain.ttf')  format('truetype'), url('../fonts/Sans-Mono/TheSansMono-Plain.svg#TheSansMono-Plain') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book/Avenir-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir-Book/Avenir-Book.otf')  format('opentype'),
         url('../fonts/Avenir-Book/Avenir-Book.woff') format('woff'), url('../fonts/Avenir-Book/Avenir-Book.ttf')  format('truetype'), url('../fonts/Avenir-Book/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../fonts/Avenir-Heavy/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir-Heavy/Avenir-Heavy.otf')  format('opentype'),
         url('../fonts/Avenir-Heavy/Avenir-Heavy.woff') format('woff'), url('../fonts/Avenir-Heavy/Avenir-Heavy.ttf')  format('truetype'), url('../fonts/Avenir-Heavy/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../fonts/Avenir-Medium/Avenir-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir-Medium/Avenir-Medium.otf')  format('opentype'),
         url('../fonts/Avenir-Medium/Avenir-Medium.woff') format('woff'), url('../fonts/Avenir-Medium/Avenir-Medium.ttf')  format('truetype'), url('../fonts/Avenir-Medium/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: white;
    height: 100%;
    font-family: Avenir-Book, LucidaGrande, serif;
}

input[type=text] {
    width: 15px;
}

br {
   display: block;
   margin: 5px 0;
}

#header {
    position: absolute;
    color: black;
    z-index: 999999;
    height: 6%;
    width: 100%;
    /*padding: 5px;*/
}

#title {
    font-family: TheSansMono-Plain, sans-serif;
    float: left;
    padding-left: 1%;
    padding-top: 1%;
}

#title:hover {
  cursor: pointer;
}

#cart {
    font-size: 9pt;
    float: right;
    padding-right: 1.4%;
    padding-top: 1%;
}

#cart:hover {
  cursor: pointer;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html {
    height: 100%;
}


#layer2block {
    z-index:99990;
    position: absolute;
    width: 100%;
    height: 91%;
    top: 6%;
    /*border: 1px solid blue;*/
    display: none;

}

/*can make width 23% once remove borders*/
#leftblock {
  position: relative;
  z-index:99999;
  width: 22%;
  height: 100%;
  /*border: 1px solid green;*/
  float: left;
  /*background-color: white;
  opacity: 0.5;*/
}
#rightblock {
  position: relative;
  z-index:99999;
  width: 23%;
  height: 100%;
  /*border: 1px solid blue;*/
  float: right;
  /*background-color: white;
  opacity: 0.5;*/

}
#centerblock {
  position: relative;
  z-index:99999;
  width: 54%;
  height: 100%;
  /*border: 1px solid pink;*/
  float: left;
}

#imgDisplay {
  
  height: 97%;
  width: 100%;
  /*border: 1px solid red;*/
}

#twoD-scan {
  height: 100%;
  width: auto;
  /*display: block;*/
  margin: 0 auto;
  display: none;
}

#centerblock div {
  
  /*border: 1px solid orange;*/
  /*margin-top: 0px;
  margin-bottom: 0px;*/
  display: inline-block;
  /*height: auto;*/
}

#toggleView {
  background-color: white;
  text-align: center;
  font-size: 0.8em;
  color: #BCBCBB;
}

#toggleView:hover {
  cursor: pointer;
}

#threed {
  font-family: Avenir-Heavy, sans-serif;
}


#itemName {
  font-family: Avenir-Heavy, sans-serif;
  background-color: white;
  float: left;
  font-size: 1.1em;
  margin: 0;
  color: #414141;
}
#itemPrice {
  font-family: Avenir-Heavy, sans-serif;
  background-color: white;
  float: right;
  text-align: right;
  font-size: 1.1em;
  margin: 0;
  color: #414141;
}

/*#product-component-21fa7a5ac51 {
  width: 75%;
  display: block;
  float: left;
  font-family: Avenir-Medium, sans-serif;
  font-size: 0.7em;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8rem;

  
}

#product-component-21fa7a5ac51:hover {
  cursor: pointer;
}*/

/*#infoButton {
  display: block;
  border: 1px solid #BCBCBB;
  border-radius: 100%;
  width: 1em;
  height: 1em;
  color: #BCBCBB;
  line-height: 1em;
  padding: 0.25em 0.25em 0.25em 0.25em ;
  text-align: center;
  margin: 0.5em 0.5em 0.5em 0;
  float: right;
}

#infoButton:hover {
  color: #414141;
  border: 1px solid #414141;
  cursor: pointer;
  display: block;
}*/

#infoPanel {
  font-size: 0.6em;
  width: 75%;
  float: left;
  display: block;
  padding: 4%;
  background-color: #FFFFFF;
  opacity: 0.8;
  border-bottom: 1px solid #BCBCBB;
  border-top: 1px solid #BCBCBB;
  /*margin-top: 15%;*/
}

#itemBox {
  clear: both;
  width: 75%;
  display: block;
  padding: 4%;
  height: 1em;
}
/*hr { 
  margin-top: 1%;
  width:100%; 
  height:1px; 
  background: #BCBCBB; 
  border: none;
}*/

/*#horizLine {
  display: none;
}*/

#leftblock p {
  font-size: 0.7em;
  line-height: 130%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 0;
}

/*#closeButton {
  margin: 0.5em 0 0 0.5em;
  width: 7%;
  height: auto;
  float: left;
    
}*/



#rightblock img {
  width: 8%;
  height: auto;
  margin-top: 2%;
  margin-right: 2%;
  float: right;
}

.centered {
  width: 60%;
  margin-left: 20%;
}

/*#preview {
    position: relative;
    top: 2%;
    border: 1px solid brown;
    width: 100%;
    overflow: hidden;  
}*/

#thumb-lens {
  height: 30px;
  width: 30px;
}

h1 {
  font-family: Avenir-Book, LucidaGrande-Bold, sans-serif;
  font-size: 1em;
  width: 45%;
  float: left;
  /*padding-bottom: 30px;*/
  padding-left: 2.5%;
  /*border: 1px solid red;*/
  margin-top: 2.5%;
}

h2 {
  font-size: 1em;
  width: 45%;
  float: right;
  /*border: 1px solid red;*/
  text-align: right;
  padding-right: 2.5%;
  margin-top: 2.5%;
}

#top-description {
  z-index:99999;
  height: 30%;
  width: 100%;
  background-color: orange;
}

#bottom-img {
  z-index:99999;
  height: 70%;
  width: 100%;
  background-color: purple;
}

#bottom-img img {
  width: auto;
  display: block;
  margin: auto;
}

#thumb {
  z-index:999999;
}

#stats div {          
  margin-top: 24px;
  left: 0px;
}

#loadingOverlay {
  position: relative;
  background-color: blue;
  width: 100%;
  height: 100%;
  z-index:999999;
}

/*#centerLine {
    position: absolute;
    border: 1px solid red;
    height: 100%;
    width: 1px;
    z-index:999999;
}*/

button {
  outline: none;
}





